@page
@model TeknoRoma.Razorpage.Pages.Siparisler.DeleteModel
@{
    ViewData["Title"] = "Siparis Sil";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Siparis Sil</h1>
<div class="card">
    <div class="card-header">Silme Onayı</div>
    <div class="card-body">
        <h5>Bu faturayi silmek istediğinize emin misiniz?</h5>
        <p><strong>Birim Kodu:</strong> @Model.Siparis.CariId</p>
        <p><strong>Açıklama:</strong> @Model.Siparis.SiparisTarihi</p>
        <p><strong>Açıklama:</strong> @Model.Siparis.Durum</p>
        <form method="post">
            <input type="hidden" asp-for="Siparis.Id" />
            <button type="submit" class="btn btn-danger">Sil</button>
            <a asp-page="Index" class="btn btn-secondary">İptal</a>
        </form>
    </div>
</div>
