@page
@model TeknoRoma.Razorpage.Pages.Kurlar.DeleteModel
@{
    ViewData["Title"] = "Kur Sil";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Kur Sil</h1>
<div class="card">
    <div class="card-header">Silme Onayı</div>
    <div class="card-body">
        <h5>Bu faturayi silmek istediğinize emin misiniz?</h5>
        <p><strong>Birim Kodu:</strong> @Model.Kur.DovizId</p>
        <p><strong>Açıklama:</strong> @Model.Kur.KurTarihi</p>
        <p><strong>Açıklama:</strong> @Model.Kur.AlisKuru</p>
        <p><strong>Açıklama:</strong> @Model.Kur.SatisKuru</p>
        <form method="post">
            <input type="hidden" asp-for="Kur.Id" />
            <button type="submit" class="btn btn-danger">Sil</button>
            <a asp-page="Index" class="btn btn-secondary">İptal</a>
        </form>
    </div>
</div>