@page
@model TeknoRoma.Razorpage.Pages.Stoklar.CreateModel
@{
    ViewData["Title"] = "Yeni Stok Ekle";
}
<h1>Yeni Stok Ekle</h1>
<div class="card">
    <div class="card-header">Stok Bilgileri</div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.InsertModel.StokAdi"></label>
                <input asp-for="InsertModel.StokAdi" class="form-control" />
                <span asp-validation-for="InsertModel.StokAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertModel.StokKodu"></label>
                <input asp-for="InsertModel.StokKodu" class="form-control" />
                <span asp-validation-for="InsertModel.StokKodu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.InsertModel.DepoId"></label>
                <input asp-for="InsertModel.DepoId" class="form-control" />
                <span asp-validation-for="InsertModel.DepoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertModel.StokAdet"></label>
                <input asp-for="InsertModel.StokAdet" class="form-control" />
                <span asp-validation-for="InsertModel.StokAdet" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="InsertModel.Fiyat"></label>
                <input asp-for="InsertModel.Fiyat" class="form-control" />
                <span asp-validation-for="InsertModel.Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.InsertModel.KategoriId"></label>
                <input asp-for="InsertModel.KategoriId" class="form-control" />
                <span asp-validation-for="InsertModel.KategoriId" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />