@page
@model TeknoRoma.Razorpage.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="col-md-6 col-lg-5 col-xl-4 mt-5 mt-md-0">
    <form class="form-group bg-white p-5 rounded-4" method="post">
        <h3 class="display-5">Register Form</h3>

        <div class="my-3">
            <label asp-for="ModelInput.FullName" class="form-label">Full Name</label>
            <input asp-for="ModelInput.FullName" class="form-control" />
            <span asp-validation-for="ModelInput.FullName" class="text-danger"></span>
        </div>

        <div class="my-3">
            <label asp-for="ModelInput.Email" class="form-label">Email</label>
            <input asp-for="ModelInput.Email" class="form-control" />
            <span asp-validation-for="ModelInput.Email" class="text-danger"></span>
        </div>

        <div class="my-3">
            <label asp-for="ModelInput.TcNo" class="form-label">Tc No</label>
            <input asp-for="ModelInput.TcNo" class="form-control" />
            <span asp-validation-for="ModelInput.TcNo" class="text-danger"></span>
        </div>

        <div class="my-3">
            <label asp-for="ModelInput.Password" class="form-label">Password</label>
            <input asp-for="ModelInput.Password" class="form-control" type="password" />
            <span asp-validation-for="ModelInput.Password" class="text-danger"></span>
            <button class="btn btn-outline-secondary" type="button" onclick="togglePasswordVisibility()">👁</button>
        </div>

        <div class="my-3">
            <label asp-for="ModelInput.RePassword" class="form-label">Re-Password</label>
            <input asp-for="ModelInput.RePassword" class="form-control" type="password" />
            <span asp-validation-for="ModelInput.RePassword" class="text-danger"></span>
            <button class="btn btn-outline-secondary" type="button" onclick="togglePasswordVisibility()">👁</button>
        </div>

        <div class="my-3">
            <label asp-for="ModelInput.UserType" class="form-label">User Type</label>
            <select asp-for="ModelInput.UserType" class="form-control" asp-items="@(new SelectList(Model.UserTypes))">
                <option value="">Select User Type</option>
            </select>
            <span asp-validation-for="ModelInput.UserType" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<partial name="_ValidationScriptsPartial" />
