@page
@model TeknoRoma.Razorpage.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="col-md-6 col-lg-5 col-xl-4 mt-5 mt-md-0">
    <form id="form" class="form-group flex-wrap bg-white p-5 rounded-4 ms-md-5" method="post">
        <h3 class="display-5">Register Form</h3>

        <div class="col-lg-12 my-4">
            <label class="form-label text-uppercase" asp-for="ModelInput.FullName">Full Name</label>
            <input class="form-control text-black-50 ps-3" asp-for="ModelInput.FullName">
            <span asp-validation-for="ModelInput.FullName" class="text-danger"></span>
        </div>

        <div class="col-lg-12 my-4">
            <label asp-for="ModelInput.Email" class="form-label text-uppercase">Email</label>
            <input asp-for="ModelInput.Email" class="form-control text-black-50 ps-3" />
            <span asp-validation-for="ModelInput.Email" class="text-danger"></span>
        </div>

        <div class="col-lg-12 my-4">
            <label asp-for="ModelInput.TcNo" class="form-label text-uppercase">Tc No</label>
            <input asp-for="ModelInput.TcNo" class="form-control text-black-50 ps-3" />
            <span asp-validation-for="ModelInput.TcNo" class="text-danger"></span>
        </div>

        <div class="col-lg-12 my-4">
            <label class="form-label text-uppercase" asp-for="ModelInput.Password">Password</label>
            <div class="input-group">
                <input class="form-control text-black-50 ps-3" asp-for="ModelInput.Password" type="password" id="passwordInput">
                <button class="btn btn-outline-secondary" type="button" onclick="togglePasswordVisibility('passwordInput')">👁</button>
            </div>
            <span asp-validation-for="ModelInput.Password" class="text-danger"></span>
        </div>

        <div class="col-lg-12 my-4">
            <label class="form-label text-uppercase" asp-for="ModelInput.RePassword">Confirm Password</label>
            <div class="input-group">
                <input class="form-control text-black-50 ps-3" asp-for="ModelInput.RePassword" type="password" id="repasswordInput">
                <button class="btn btn-outline-secondary" type="button" onclick="togglePasswordVisibility('repasswordInput')">👁</button>
            </div>
            <span asp-validation-for="ModelInput.RePassword" class="text-danger"></span>
        </div>

        <div class="col-lg-12 my-4">
            <label asp-for="ModelInput.UserType" class="form-label text-uppercase">User Type</label>
            <select asp-for="ModelInput.UserType" class="form-control" asp-items="@(new SelectList(Model.UserTypes))">
                <option value="">Select User Type</option>
            </select>
            <span asp-validation-for="ModelInput.UserType" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<partial name="_ValidationScriptsPartial" />
<script>
    function togglePasswordVisibility(inputId) {
        const passwordInput = document.getElementById(inputId);
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    }
</script>