@page
@using TeknoRoma.RazorPage.Pages.Entities
@model BirimAddModel
@{
    ViewData["Title"] = "Birim Ekle";
}

<h2>Birim Ekle</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="Birim.BirimKodu"></label>
        <input asp-for="Birim.BirimKodu" class="form-control" />
        <span asp-validation-for="Birim.BirimKodu" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Birim.Aciklama"></label>
        <input asp-for="Birim.Aciklama" class="form-control" />
        <span asp-validation-for="Birim.Aciklama" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
