@page
@using TeknoRoma.RazorPage.Pages.Entities
@model BirimModel
@{
    ViewData["Title"] = "Birim Yönetimi";
}

<h2>Birim Yönetimi</h2>
<p>Bu sayfadan birim ekleme, silme ve güncelleme işlemleri yapabilirsiniz.</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Birim İşlemleri</h5>
        <div class="d-grid gap-3">
            <a class="btn btn-success" asp-page="./BirimAdd">Birim Ekle</a>
            <a class="btn btn-warning" asp-page="./BirimEdit">Birim Güncelle</a>
            <a class="btn btn-danger" asp-page="./BirimDelete">Birim Sil</a>
        </div>
    </div>
</div>
