@page
@model IndexModel
@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Teknoroma E-Market'e Hoşgeldiniz!</h1>
    <p class="lead">Tüm işlemlerinizi buradan gerçekleştirin.</p>
    <hr class="my-4">
    <p>
        <a class="btn btn-primary btn-lg" asp-page="/Register" role="button">Kayıt Ol</a>
        <a class="btn btn-secondary btn-lg" asp-page="/Login" role="button">Giriş Yap</a>
    </p>
</div>
