@page
@model TeknoRoma.Razorpage.Pages.IndexModel
@{
    ViewData["Title"] = "Anasayfa";
    var fullName = TempData["FullName"] as string; // TempData'dan FullName al
}

<div class="container mt-5">
    <h1 class="display-4">Welcome to Teknoroma!</h1>
    @if (User.Identity.IsAuthenticated)
    {
    <h2 class="text-success">Hoş geldiniz, @Model.FullName! 😊</h2>
    }
    else
    {
    <h2 class="text-danger">Lütfen giriş yapınız.</h2>
    }

    <div class="mt-4">
        <a asp-page="/Account/Register" class="btn btn-success me-3">Kaydol</a>
        <a asp-page="/Account/Login" class="btn btn-primary">Oturum Aç</a>
    </div>
</div>
