@page
@model TeknoRoma.Razorpage.Pages.Kategoriler.IndexModel
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="card">
    <h5 class="card-header">
        <a asp-page="Create" class="btn btn-primary">Add New Kategori</a>
    </h5>
    <div class="">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>KategoriAdi</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var kategori in Model.Kategoriler)
                {
                    <tr>
                        <td><strong>@kategori.KategoriAdi</strong></td>
                        <td>
                            @{
                                if (kategori.KategoriAdi != null)
                                {
                                    <strong>@kategori.KategoriAdi</strong>

                                }
                            }
                        </td>

                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-page="Update" asp-route-id="@kategori.Id"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item" asp-page="Delete" asp-route-id="@kategori.Id"><i class="bx bx-trash me-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

