@page
@model TeknoRoma.Razorpage.Pages.Kasalar.CreateModel
@{
    ViewData["Title"] = "Yeni Kasa Ekle";
}
<h1>Yeni Kasa Ekle</h1>
<div class="card">
    <div class="card-header">Kasa Bilgileri</div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.InsertModel.KasaKodu"></label>
                <input asp-for="InsertModel.KasaKodu" class="form-control" />
                <span asp-validation-for="InsertModel.KasaKodu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertModel.SubeKodu"></label>
                <input asp-for="InsertModel.SubeKodu" class="form-control" />
                <span asp-validation-for="InsertModel.SubeKodu" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="@Model.InsertModel.DovizId"></label>
                <input asp-for="InsertModel.DovizId" class="form-control" />
                <span asp-validation-for="InsertModel.DovizId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.InsertModel.Bakiye"></label>
                <input asp-for="InsertModel.Bakiye" class="form-control" />
                <span asp-validation-for="InsertModel.Bakiye" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />