@page
@model TeknoRoma.Razorpage.Pages.FaturaDetaylar.DeleteModel
@{
    ViewData["Title"] = "Fatura Sil";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Fatura Sil</h1>
<div class="card">
    <div class="card-header">Silme Onayı</div>
    <div class="card-body">
        <h5>Bu faturayi silmek istediğinize emin misiniz?</h5>
        <p><strong>Birim Kodu:</strong> @Model.FaturaDetay.FaturaId</p>
        <p><strong>Açıklama:</strong> @Model.FaturaDetay.StokId</p>
        <p><strong>Açıklama:</strong> @Model.FaturaDetay.Miktar</p>
        <p><strong>Açıklama:</strong> @Model.FaturaDetay.Fiyat</p>
        <form method="post">
            <input type="hidden" asp-for="FaturaDetay.Id" />
            <button type="submit" class="btn btn-danger">Sil</button>
            <a asp-page="Index" class="btn btn-secondary">İptal</a>
        </form>
    </div>
</div>
