@page
@model TeknoRoma.Razorpage.Pages.Faturalar.CreateModel
@{
    ViewData["Title"] = "Yeni Fatura Ekle";
}
<h1>Yeni Fatura Ekle</h1>
<div class="card">
    <div class="card-header">Birim Bilgileri</div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.InsertModel.CariId"></label>
                <input asp-for="InsertModel.CariId" class="form-control" />
                <span asp-validation-for="InsertModel.CariId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertModel.FaturaTarihi"></label>
                <input asp-for="InsertModel.FaturaTarihi" class="form-control" />
                <span asp-validation-for="InsertModel.FaturaTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertModel.ToplamTutar"></label>
                <input asp-for="InsertModel.ToplamTutar" class="form-control" />
                <span asp-validation-for="InsertModel.ToplamTutar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsertModel.KDV"></label>
                <input asp-for="InsertModel.KDV" class="form-control" />
                <span asp-validation-for="InsertModel.KDV" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
